* {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  text-decoration: none;

  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #030700;

  width: 100%;
  height: 100%;
}

.field-image-background {
  width: 100%;
  height: 100vh;

  position: fixed;

  overflow: hidden;

  z-index: -2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.field-image-background img {
  z-index: -2;
}

.field-image-background .background-opacity {
  width: 100%;
  height: 100%;

  position: absolute;

  z-index: -1;

  background-color: #030700;
  
  opacity: .88;
}

.header {
  max-width: 1346px;

  margin: 0 auto;
  padding: 27px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .left-header {
  display: flex;
  align-items: center;
}

.header .left-header .guide {
  width: 404px;
  margin: 0 0 0 80px;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.header .left-header .guide li {
  list-style: none; 
  position: relative;
}

.header .left-header .guide li::after {
  content: '';
  display: block;
  position: absolute;
  
  top: -50px;
  left: 49%;
  height: 0px;
  transition: .5s ease;

  width: 2px;
  background: 
    linear-gradient(180deg, 
    rgba(233, 29, 34, 0) 0%, 
    #FFF001 100%);
}

.header .left-header .guide li:hover::after {
  height: 40px;
}

.header .left-header .guide li a {
  text-transform: uppercase;

  color: #A1A3A5;

  transition: .5s ease;
}

.header .left-header .guide li a:hover {
  color: #FFF001;
}

.header .right-header {
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .instagram-icon, .header .youtube-icon {
  color: #959698;
  font-size: 26px;

  cursor: pointer;

  transition: .5s ease;
}

.header .instagram-icon:hover,  .header .youtube-icon:hover {
  color: #FFF001;
  transform: translate3d(0, -3px, 0)
}

.home-container {
  max-width: 1346px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 68vh;
}

.home-container .field-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .field-home-image {
  width: 820px;
}

.home-container .field-central-home-image {
  animation: show_central_image 1.4s normal ease;
  overflow: hidden;
}

@keyframes show_central_image {
  0% { 
    width: 0;
  }
  100% { 
    width: 100%;
  }
}

.home-container .field-home-buttons {
  width: 658px;

  margin: 47px auto 0 auto;

  display: flex;
  justify-content: space-between;
}

.home-container .button-portifolio {
  animation: show_button_home_portifolio 2s;

  width: 300px;
  height: 56px;

  background-color: #FFF001;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  font-size: 18px;
  color: #030700;

  text-transform: uppercase;

  cursor: pointer;

  transform: skewX(-10deg);
  transition: .5s ease;
}

@keyframes show_button_home_portifolio {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-container .button-portifolio::after {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;

  width: 30%;
  height: 70%;
  opacity: 0;
  transition: .5s ease;

  border-radius: 3px;

  border-top: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
}

.home-container .button-portifolio::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  right: -3px;

  width: 30%;
  height: 70%;
  opacity: 0;
  transition: .5s ease;

  border-radius: 3px;

  border-bottom: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF;
}

.button-portifolio:hover::after, .button-portifolio:hover::before {
  opacity: 1;
}

.home-container .button-instagram {
  animation: show_button_home_instagram 2s ease;

  width: 300px;
  height: 56px;

  background-color: transparent;
  border: 2px solid #FFF001;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  color: #FFFFFF;

  text-transform: uppercase;

  cursor: pointer;

  transition: .3s ease;

  transform: skewX(-10deg);
}

.home-container .button-instagram:hover {
  color: #959698;
}

@keyframes show_button_home_instagram {
  0% {
    transform: scaleX(.2);
    transform-origin: 0 0;
    opacity: 0;
  }
  50% {
    transform: scaleX(.4);
    transform-origin: 0 0;
    opacity: 0;
  }
}

.home-container .button-instagram::after {
  animation: button_home_after_show 3s;

  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;

  z-index: -1;

  width: 0%;
  height: 105%;
  transition: .5s ease;

  background: linear-gradient(225deg, #FFF001 0%, #E5D801 100%);
}

@keyframes button_home_after_show {
  0% {
    width: 0;
  }
  60% {
   width: 0; 
  }
  75% {
    width: 101%;
  }
  100% {
    width: 0;
  }
}

.home-container .button-instagram:hover::after {
  width: 101%;
}

.portifolio-container {
  display: flex;
  flex-direction: column;
}

.portifolio-container .field-portifolio-card {
  margin: 39px auto 61px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.portifolio-container .field-portifolio-card .title-portifolio {
  color: #FFF001;

  font-size: 50px;
  text-transform: uppercase;

  font-weight: 500;
}

.portifolio-container .field-portifolio-select {
  width: 419px;

  margin-top: 39px;

  display: flex;
  justify-content: space-between;
}

.portifolio-container .portifoliologo-button-logo {
  width: 186px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #FFF001;

  border-radius: 5px;

  color: #030700;

  font-size: 18px;
  text-transform: uppercase;
}

.portifolio-container .portifoliocamisa-button-logo {
  width: 186px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: 2px solid #FFF001;
  border-radius: 5px;

  color: #FFFFFF;

  position: relative;

  transition: .5s ease;

  font-size: 18px;
  text-transform: uppercase;

  cursor: pointer;
}

.portifolio-container .portifoliocamisa-button-logo:hover {
  color: #959698;
}

.portifolio-container .portifoliocamisa-button-logo::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;

  border-radius: 5px;

  z-index: -1;

  width: 0%;
  height: 105%;
  transition: .5s ease;

  background: linear-gradient(225deg, #FFF001 0%, #E5D801 100%);
}

.portifolio-container .portifoliocamisa-button-logo:hover::after {
  width: 101%;
}

.portifolio-container .portifoliologo-button-camisa {
  width: 186px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: 2px solid #FFF001;
  border-radius: 5px;

  color: #FFFFFF;

  position: relative;

  transition: .5s ease;

  font-size: 18px;
  text-transform: uppercase;

  cursor: pointer;
}

.portifolio-container .portifoliocamisa-button-camisa {
  width: 186px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #FFF001;

  border-radius: 5px;

  color: #030700;

  font-size: 18px;
  text-transform: uppercase;
}

.portifolio-container .portifoliologo-button-camisa:hover {
  color: #959698;
}

.portifolio-container .portifoliologo-button-camisa::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;

  border-radius: 5px;

  z-index: -1;

  width: 0%;
  height: 105%;
  transition: .5s ease;

  background: linear-gradient(225deg, #FFF001 0%, #E5D801 100%);
}

.portifolio-container .portifoliologo-button-camisa:hover::after {
  width: 101%;
}

.portifolio-container .field-images-content {
  width: 926px; 

  margin: 0 auto; 

  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}

.portifolio-container .field-images-content img {
  width: 300px;

  margin-bottom: 10px;
  filter: grayscale(0);

  transition: .4s ease;
}

.portifolio-container .field-images-content img:hover{
  filter: grayscale(20%);

  transform: scale(1.02);
}

.portifolio-container .field-images-content .hover-image {
  vertical-align: middle;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.field-see-more-portifolio {
  margin: 40px auto 70px auto;
}

.field-see-more-portifolio a {
  width: 220px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: 2px solid #FFF001;
  border-radius: 5px;

  color: #FFFFFF;

  position: relative;

  transition: .5s ease;

  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;

  z-index: 1;
}

.field-see-more-portifolio a::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;

  border-radius: 5px;

  z-index: -1;

  width: 0%;
  height: 105%;
  transition: .5s ease;

  background: linear-gradient(225deg, #FFF001 0%, #E5D801 100%);
}

.field-see-more-portifolio a:hover {
  color: #959698;
}

.field-see-more-portifolio a:hover::after {
  width: 101%;
}

.logo-page-container {
  width: 100%;
  height: 80vh;
}

.logo-page-container .logo-page-field-content {
  padding: 30px;
}

.logo-page-container .logo-page-field-image {
  width: 540px;

  margin: 0 auto;
}

.logo-page-container .logo-page-field-image img {
  width: 540px;
}

.logo-page-field-buttons {
  width: 475px;

  display: flex;
  justify-content: space-between;
  
  margin: 64px auto 20px auto;
}

.logo-page-field-buttons .logo-page-button-back {
  width: 220px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  transition: .4s ease;

  background-color: #FFF001;
  color: #030700;
}

.logo-page-field-buttons .logo-page-button-back:hover {
  background-color: #E5D801;

  transform: scale(1.03);
}

.logo-page-field-buttons .logo-page-button-instagram {
  width: 220px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  border: 2px solid #FFF001;

  position: relative;

  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  background-color: transparent;
  color: #FFFFFF;
}

.logo-page-field-buttons .logo-page-button-instagram::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;

  border-radius: 5px;

  z-index: -1;

  width: 0%;
  height: 105%;
  transition: .5s ease;

  background: linear-gradient(225deg, #FFF001 0%, #E5D801 100%);
}

.logo-page-field-buttons .logo-page-button-instagram:hover::after {
  width: 101%;
}

@media (max-width: 1400px) {
  .field-image-background img {
    width: 580px;
  }
  .header {
    max-width: 1280px;
    
    padding: 20px 0;
  }
  .home-container {
    height: 58vh;
  }
  .home-container .field-home-image {
    width: 600px;
  }
  .home-container .field-central-home-image img {
    width: 600px;
    height: 194.68px;
  }
  .home-container .field-home-buttons {
    width: 500px;
  }
  .home-container .field-home-buttons a {
    width: 240px;
    height: 50px;
    font-size: 14px;
  }
  .logo-page-container {
    width: 100%;
    height: 74vh;
  }
  .logo-page-container .logo-page-field-content {
    padding: 0px;
  }
  .logo-page-container .logo-page-field-image {
    width: 380px;
  
    margin: 0 auto;
  }
  .logo-page-container .logo-page-field-image img {
    width: 380px;
  }
  .logo-page-field-buttons {
    width: 360px;
    
    margin: 30px auto 0px auto;
  }
  .logo-page-field-buttons .logo-page-button-back {
    width: 165px;
    height: 56px;

    font-size: 14px;
  }
  .logo-page-field-buttons .logo-page-button-instagram {
    width: 165px;
    height: 56px;

    font-size: 14px;
  }
}

@media (max-width: 1346px) {
  .header {
    padding: 20px;
  }
}

@media (max-width: 820px) {
  .header .left-header .guide {
    width: 300px;
    margin: 0 0 0 40px;
  }
  .header .right-header {
    width: 64px;
  }
  .home-container .field-home-image {
    width: 500px;
  }
  .home-container .field-central-home-image img {
    width: 500px;
    height: 162.23px;
  }
  .home-container .field-home-buttons {
    width: 440px;
  }
  .home-container .field-home-buttons a {
    width: 210px;
    height: 44px;
    font-size: 12px;
  }
  .portifolio-container .field-images-content {
    width: 590px;
  }
  .portifolio-container .field-images-content img {
    width: 280px;
    margin-bottom: 27px;
  }
  .logo-page-container .logo-page-field-content {
    padding-bottom: 50px;
  }
  .logo-page-container .logo-page-field-image {
    width: 340px;
  
    margin: 0 auto;
  }
  .logo-page-container .logo-page-field-image img {
    width: 340px;

    margin: 30px 0 0 0;
  }
  .logo-page-field-buttons {
    width: 320px;
    
    margin: 30px auto 0 auto;
  }
  .logo-page-field-buttons .logo-page-button-back {
    width: 150px;
    height: 56px;

    font-size: 12px;
  }
  .logo-page-field-buttons .logo-page-button-instagram {
    width: 150px;
    height: 56px;

    font-size: 12px;
  }
}

@media (max-width: 590px) {
  .header {
    flex-direction: column;
  }
  .header .left-header {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .header .left-header a img {
    margin-bottom: 14px;
    width: 80px;
  }
  .header .left-header .guide {
    width: 280px;
    margin: 0;
  }
  .header .left-header .guide li::after {
    content: '';
    display: block;
    position: absolute;
    
    left: 0;
    top: 20px;
    height: 2px;
    width: 0;
    
    background: #FFF001;
  }
  .header .left-header .guide li:hover::after {
    width: 100%;
    height: 2px;
  }
  .header .right-header {
    display: none;
  }
  .home-container {
    height: 58vh;
  }
  .home-container .field-home-image {
    width: 450px;
  }
  .home-container .field-central-home-image img {
    width: 450px;
    height: 146.01px;
  }
  .portifolio-container .field-images-content {
    width: 500px;
  }
  .portifolio-container .field-images-content img {
    width: 240px;
    margin-bottom: 17px;
  }
}

@media (max-width: 540px) {
  .field-image-background img {
    margin-top: 20px;
    width: 480px;
  }
  .home-container {
    max-width: 480px;
  }
  .home-container .field-home-content {
    width: 100%;
  }
  .home-container .field-home-image {
    width: 380px;
  }
  .home-container .field-central-home-image img {
    width: 380px;
    height: 123.30px;
  }
  .home-container .field-home-buttons {
    flex-direction: column;
    align-items: center;

    width: auto;
    height: 110px;
  }
  .home-container .field-home-buttons a {
    width: 300px;
  }
  .portifolio-container .field-portifolio-card {
    margin: 29px auto 50px auto;
  }
  .portifolio-container .field-portifolio-card .title-portifolio {
    font-size: 42px;
  }
  .portifolio-container .field-portifolio-select {
    width: 380px;
    margin-top: 32px;
  }
  .portifolio-container .portifoliocamisa-button-logo {
    width: 160px;
  }
  .portifolio-container .portifoliocamisa-button-camisa {
    width: 160px;
  }
  .portifolio-container .portifoliologo-button-logo {
    width: 160px;
  }
  .portifolio-container .portifoliologo-button-camisa {
    width: 160px;
  }
  .portifolio-container .field-images-content {
    width: 420px;
  }
  .portifolio-container .field-images-content img {
    width: 200px;
    margin-bottom: 17px;
  }
  .field-see-more-portifolio {
    margin: 20px auto 40px auto;
  }
}

@media (max-width: 440px) {
  .field-image-background img {
    width: 420px;
  }
  .home-container {
    max-width: 420px;
    height: 50vh;
  }
  .home-container .field-home-image {
    width: 330px;
  }
  .home-container .field-central-home-image img {
    width: 330px;
    height: 107.07px;
  }
  .home-container .field-home-buttons a {
    width: 280px;
  }
  .portifolio-container .field-portifolio-card {
    margin: 16px auto 50px auto;
  }
  .portifolio-container .field-portifolio-card .title-portifolio {
    font-size: 36px;
  }
  .portifolio-container .field-portifolio-select {
    width: 340px;
    margin-top: 28px;
  }
  .portifolio-container .portifoliocamisa-button-logo {
    width: 150px;
  }
  .portifolio-container .portifoliocamisa-button-camisa {
    width: 150px;
  }
  .portifolio-container .portifoliologo-button-logo {
    width: 150px;
  }
  .portifolio-container .portifoliologo-button-camisa {
    width: 150px;
  }
  .portifolio-container .field-images-content {
    width: 360px;
  }
  .portifolio-container .field-images-content img {
    width: 170px;
    margin-bottom: 17px;
  }
}

@media (max-width: 380px) {
  .field-image-background img {
    width: 400px;
  }
  .home-container {
    max-width: 360px;
    height: 50vh;
  }
  .home-container .field-home-image {
    width: 300px;
  }
  .home-container .field-central-home-image img {
    width: 290px;
    height: 94.1px;
  }
  .home-container .field-home-buttons a {
    width: 260px;
  }
  .portifolio-container .field-portifolio-card {
    margin: 16px auto 50px auto;
  }
  .portifolio-container .field-portifolio-card .title-portifolio {
    font-size: 34px;
  }
  .portifolio-container .field-portifolio-select {
    width: 260px;
    margin-top: 28px;
  }
  .portifolio-container .portifoliocamisa-button-logo {
    width: 120px;
  }
  .portifolio-container .portifoliocamisa-button-camisa {
    width: 120px;
  }
  .portifolio-container .portifoliologo-button-logo {
    width: 120px;
  }
  .portifolio-container .portifoliologo-button-camisa {
    width: 120px;
  }
  .portifolio-container .field-images-content {
    width: 280px;
  }
  .portifolio-container .field-images-content img {
    width: 130px;
    margin-bottom: 17px;
  }
}

@media (max-width: 300px) {
  .field-image-background img {
    width: 400px;
  }
  .header .left-header .guide {
    width: 264px;
  }
  .home-container {
    max-width: 290px;
    height: 54vh;
  }
  .home-container .field-home-image {
    width: 260px;
  }
  .home-container .field-central-home-image img {
    width: 260px;
    height: 84.36px;
  }
  .home-container .field-home-buttons {
    margin-top: 30px;
  }
  .home-container .field-home-buttons a {
    width: 240px;
  }
  .portifolio-container .field-images-content {
    width: 270px;
  }
  .portifolio-container .field-images-content img {
    width: 130px;
    margin-bottom: 17px;
  }
  .logo-page-container .logo-page-field-content {
    padding-bottom: 50px;
  }
  .logo-page-container .logo-page-field-image {
    width: 260px;
  
    margin: 0 auto;
  }
  .logo-page-container .logo-page-field-image img {
    width: 260px;

    margin: 30px 0 0 0;
  }
  .logo-page-field-buttons {
    width: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 20px auto 0 auto;
  }
  .logo-page-field-buttons .logo-page-button-back {
    margin-bottom: 10px;
  }
}
